{
  "plugins": [
    ["babel-plugin-styled-components",  { "ssr": true }],
    ["babel-plugin-twin", { "debug": false }],
    "babel-plugin-macros"
  ],
  "presets": ["next/babel", "@babel/preset-typescript"]
}
